body {
  margin: 0px;
  padding: 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  background-color: DarkBlue;
  color: white;
}
.header {
  height: 100px; 
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 20px;
  padding: 1rem;
}
.linkbar {
 position: relative;
 border-bottom: 2px solid white;
 border-top: 2px solid white;
 display: inline-block;
 padding: 4px;
}
h4{
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
} 
h2{ 
 font-size: 36px;
}
h3{
 font-size: 30px;
}
p{
  margin-top: 45px;
  font-size: 18px;
}
a:link, a:visited, a:hover, a:active {
  color: white; 
  text-decoration: underline; 
  padding-right: 40px; 
  padding-left: 40px;
  font-size: 16px;
}

