body {
 margin: 0px;
  padding: 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 text-align: center;
  background-color: blue;
}
.header {
  height: 150px; 
  background-image: url(http://i.imgur.com/DuYaZnw.jpg?3);
  background-size: cover;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  text-align:center;
}
.header h2{color: #2F4F4F;
}
h2{ 
font-size: 32px; 
color: #2F4F4F;
}
h3{ 
font-size: 36px; 
}
p {font-size: 18px; color:#2F4F4F;}

a:link, a:visited, a:hover, a:active { color: #2F4F4F; text-decoration: none;}

